*{
  padding: 0;
  margin: 0;
}
#mywebsite{
    font-family: Arial, Helvetica, sans-serif;
}
#landing{
    text-align: center;
    background-image: url('/img/landing-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    opacity: 0.8;
    position: relative;
}
#landing h1{
    font-size: 50px;
    text-shadow: 3px 3px 1px black;
    position: absolute;
    bottom: 270px;
    left: 400px;
}
#landing p{
    font-size: 20px;
    text-shadow: 3px 3px 1px black;
    position: absolute;
    bottom: 240px;
    left: 500px;
}
#blog{
    margin-top: 130px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
img{
    height: 150px;
    width: 250px;
    align-items: center;
}
#blog div{
    border: 1px solid lightgray;
    width: 20%;
    height: 350px;
    border-radius: 10px;
    margin-top: 7px;
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    justify-content: space-between;
    box-shadow: 1px 1px 1px lightgray;
}
div h3{
    padding-top: 3px;
    margin-right: 100px;
}
div p{
    padding: 10px;
    text-align: justify;
    padding: 20px;
}
div a{
    margin-right: 100px;
    color: gray;
    text-decoration: none;
}
div:nth-child(4){
    background-color: black;
    color: white;
}
div:nth-child(4) a:hover{
    color: red;
}
#services{
    text-align: center;
    margin-top: 200px;
    background-color: lightgray;
}
ul li{
    display: inline-block;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    width: 10%;
    justify-content: space-between;
    margin-right: 30px;
}
li:first-child:hover{
    background-color: orangered;
}